#feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#show-filter-modal {
    margin: 0px;
}

#feed-title {
    font-size: 25px;
}

.btn {
	padding: .1em 1.25em;
	margin: 0em 0em .6em 0em;
}

.submit-btn {
	margin: 0;
}

.btn-secondary {
    background-color: #ce8650;
	border-color: #ce8650;
}

.inverse-btn {
	background-color: white;
	border-color: white;
	color: #ce8650;
}

.guest > .form-control {
    border: 1px solid #ce8650;
    border-radius: .25rem;
}

.DateRangePickerInput {
	margin-top: .15rem;
	border-radius: 5px;
	border: 1px solid #ce8650;
	overflow: hidden;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
	background: #ce8650;
	border: 1px double black
}

.DayPickerKeyboardShortcuts_show__bottomRight {
	border-right: 33px solid #ce8650;
}

.DateInput_input__focused {
	border-bottom: 2px solid #ce8650;
}

.CalendarDay__selected_span {
	background: #ce8650;
	border: 1px double black;
}

.CalendarDay__selected_span:hover {
    background: white;
	border: 1px double black;
	color: black;
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
	background: #ce8650;
	border: 1px double black;
	color: white;
}


/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */
 .geosuggest {
	font-size: 18px;
	font-size: 1rem;
	position: relative;
  }
  .geosuggest__input {
	width: 100%;
	border: 2px solid transparent;
	border: 1px solid #ce8650;
	padding: .25em 1em;
	border-radius: .25rem;
	-webkit-transition: border 0.2s, box-shadow 0.2s;
			transition: border 0.2s, box-shadow 0.2s;
  }
  .geosuggest__input:focus {
	border-color: #ce8650;
	box-shadow: 0 0 0 transparent;
	outline: none;
  }
  .geosuggest__suggests {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 25em;
	padding: 0;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ce8650;
	border-top-width: 0;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	z-index: 5;
	-webkit-transition: max-height 0.2s, border 0.2s;
			transition: max-height 0.2s, border 0.2s;
  }
  .geosuggest__suggests--hidden {
	max-height: 0;
	overflow: hidden;
	border-width: 0;
  }
  
  /**
   * A geosuggest item
   */
  .geosuggest__item {
	font-size: 18px;
	font-size: 1rem;
	padding: .5em .65em;
	cursor: pointer;
  }
  .geosuggest__item:hover,
  .geosuggest__item:focus {
	background: #f5f5f5;
  }
  .geosuggest__item--active {
	background: #ce8650;
	color: #fff;
  }
  .geosuggest__item--active:hover,
  .geosuggest__item--active:focus {
	background: #ccc;
  }
  .geosuggest__item__matched-text {
	font-weight: bold;
  }