#feed-container ul {
    padding: 0px;
    list-style-type: none;
}

#filter {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 2222;
}

#feed-title {
    margin: auto 15px auto auto;
    font-size: 25px;
}
