#edit-profile-button {
	display: flex;
	justify-content: center;
}

#profile-review-button {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

#profile-header-about-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 1em;
}

#profile-header-about {
	font-style: italic;
	margin-top: 1em;
	min-width: 300px;
	text-align: center;
}

#profile-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#profile-header-container > * {
	margin-right: 1em;
}

#profile-header-container div:last-child {
	margin-right: 0em;
}

#profile-header-left-container {
	flex-grow: 1;
}

#profile-header-right-container {
	flex-grow: 1;
	max-width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}

@media only screen
  	and (max-width: 750px) {
		#profile-header-container {
			display: block;
		}

		#profile-header-left-container {
			margin: 0em;
		}

		#profile-header-right-container {
			max-width: 100%;
		}

		#profile-header-about-container {
			margin-left: 2em;
			margin-right: 2em;
		}

		#profile-header-about {
			min-width: 150px;
		}
}
