#profile-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#left-container {
	text-align: center;
}

#left-container > * {
	margin-bottom: 15px;
}

#left-container div:last-child {
	margin-bottom: 0px;
}

#profile-name {
	font-size: 30px;
}

#profile-picture {
	border-radius: 50%;
}
