#recipe-header-component {
	display: flex;
    flex-direction: column;
}

#recipe-header-badges-buttons {
	display: flex;
	justify-content: space-between;
}

#recipe-header-img {
	margin-bottom: 1em;
}

#recipe-header-badges {
	margin-right: 15px;
}

#recipe-header-buttons {
	margin-top: 10px;
	display: flex;
	justify-content: left;
}

#recipe-header-buttons > .recipe-header-action {
	margin-right: 10px;
	margin-bottom: 0px;
}

#recipe-header-buttons > .recipe-header-action:last-child {
	margin-right: 0px;
}

#recipe-header-information {
	display: flex;
	justify-content: space-between;
}

#recipe-header-card-left {
	flex-grow: 1;
	margin-right: 15px;
}

#recipe-header-card-right {
	flex-grow: 1;
    max-width: 50%;
	display: flex;
	text-align: left;
    flex-direction: column;
}

#recipe-header-card-right > * {
	margin-bottom: 10px;
}

#recipe-header-card-right > *:last-child {
	margin-bottom: 0px;
}

#recipe-header-tags,
#recipe-header-allergies {
	font-size: 1em;
	font-weight: bold;
}

#recipe-header-description {
	font-size: 1em;
}

.recipe-header-badge-item {
	margin-right: .5em;
}

.recipe-header-updated {
	color: rgb(125, 125, 125);
	font-style: italic;
	font-size: .75em;
}

#recipe-header-name {
	margin-bottom: 0px;
}
