#topics-list-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#topics-label {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#topics-list-header > * {
	flex-grow: 1;
	margin-right: 10px;
}

#topics-list-header > *:last-child {
	margin-right: 0px;
}

#topic-input {
	height: 50%;
}

#topic-add {
	margin: 0px;
}
