.navbar-inverse {
    background-color: #fbf7f5 !important;
    border-style: none !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ce8650 !important;
}

.navbar {
    border-radius: 0px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: black !important;
}

img {
    position: relative;
    top: -5px;
}

.brandname{
    position: relative;
    top: -5px;
    padding-left: 10px;
    color: black;
}