#Article {
	width: 74%;
    height: 100%;
    float: left;
	border-collapse: collapse;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 2.6em;	
}

#ArticleRight {
	width: 26%;
	height: 100%;
	position: relative;
	float: left;
	border-collapse: collapse;
	padding-left: 1px;
	margin-top: 2em;
	padding-right: 1.1em;
}

#GuestListHeader h3,
#GuestListHeader h5 {
	display: inline;
}

#mobileArticle {
    margin: 0 auto;
    padding: 1em 0em 1em 1em;
    width: 100%;
}

.articleMain {
	margin-bottom: 15px;
	padding: 15px;
}

.bg {
  width: 100%;
  z-index: 0;
}