#mobile-center {
	padding: 1em 1em 1em 1em;
    width: 100%;
}

#dashboard {
	display: flex;
	justify-content: center;
}

#top-buffer {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 2em;
}

#left-container {
    width: 300px;
    height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

#center-container {
	width: 800px;
    height: 100%;
	margin-left: 1.8em;
	margin-right: 1.8em;
	/* flex-grow: 2; */
	flex-shrink: 0;
}

#right-container {
	width: 300px;
	height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

.bg {
	width: 100%;
	z-index: 0;
}
