#meal-page {
	display: flex;
	justify-content: center;
}

#meal-page-left {
	max-width: 800px;
	margin-right: 1.2em;
}

#meal-page-right {
	width: 300px;
	flex-shrink: 0;
}

#meal-page-description {
	margin: 0px;
}

.meal-page-header {
	margin-bottom: 0px;
}

#meal-page-guests-container-header {
	display: flex;
	justify-content: space-between;
}

#meal-page-guests-container-header > * {
	margin-right: 15px;
}

#meal-page-guests-container-header > *:last-child {
	margin-right: 0px;
}

#meal-page-guests-container-header button {
	margin: 0px;
}

@media only screen
	and (max-width: 900px) { /* check this. Weird stuff happens between 949 and 900 */
		#meal-page {
			flex-flow: column-reverse;
		}

		#meal-page-left {
			margin-right: 0em;
			max-width: 100%;
		}

		#meal-page-right {
			flex-shrink: 1;
			width: 100%;
		}
	}
