#Article {
	width: 71%;
    height: 100%;
    float: left;
	border-collapse: collapse;
	margin-bottom: 2em;
	margin-right: 1.8em;
}

#ArticleRight {
	width: 26%;
	height: 100%;
	position: relative;
	float: left;
	border-collapse: collapse;
}

#GuestListHeader h3,
#GuestListHeader h5 {
	display: inline;
}

#mobileArticle {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.articleMain {
	padding: 15px;
}

.bg {
  width: 100%;
  z-index: 0;
}