#recipe-page {
	display: flex;
	justify-content: center;
}

#recipe-page-left {
	max-width: 800px;
	margin-right: 1.2em;
}

#recipe-page-right {
	width: 300px;
	flex-shrink: 0;
}

#recipe-page-description > p {
	margin: 0px;
}
