doctype html  
html(lang='en')
 style
  include styles.css
 body
  div.outer
   div.logo
   hr
   div.inner
    h4 Hi !{info.receiver_name}!
    p Thanks for signing up to Breaking Bread!
    p
     | Tasty regards, <br/>
     | Breaking Bread Team
   hr