.feed-card {
    width: 100%;
	margin-bottom: 15px;
	padding: 15px;
    position: relative;
    overflow: hidden;
    background: white;
    display: block;
    color: #0a0a0a;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
}
