doctype html  
html(lang='en')
 style
  include styles.css
 body
  div.outer
   div.logo
   hr
   div.inner
    h4 Hi !{info.receiver_name},
    p Unfortunately the host, !{info.host_name}, has kicked you from their meal.
    p
     | Tasty regards, <br/>
     | Breaking Bread Team
   hr