.container {
    position: 'relative'
}

.react-autosuggest__input {
    border: 1px solid #ce8650;
    border-radius: .25rem;
    height: calc(2.25rem + 2px);
    width: 100%;
    text-indent: 5px;
}

.react-autosuggest__suggestion{
    list-style-type: none;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.react-autosuggest__container 
{
    position: relative;
}
  
.react-autosuggest__input--focused 
{
    outline: none;
}
  
.react-autosuggest__input--open 
{
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
}
  
.react-autosuggest__suggestions-container
{
    display: none;
}
  
.react-autosuggest__suggestions-container--open 
{
    display: block;
    position: absolute;
    top: 95%;
    left: -1px;
    width: 100%;
    min-width: 160px;
    margin-left: 1px;
    background-color: #ffffff;
    z-index: 2;
    border: 1px solid #ce8650;
    border-top: none;
    border-radius: 0 0 .25em .25em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
  
.react-autosuggest__suggestions-list 
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion--highlighted 
{
    background-color: rgba(160, 160, 160, 0.25);
}

::placeholder {
    color: black;
    opacity: .25;
}