.container {
    position: 'relative'
}

.react-autosuggest__input {
    border: 1px solid #ce8650;
    border-radius: .25rem;
    height: calc(2.25rem + 2px);
    width: 100%;
    text-indent: 5px;
}

::placeholder {
    color: black;
    opacity: .25;
}