.component {
	border: 1px solid black;
}

#mobileCenter {
    margin: 0 auto;
    width: 40rem;
    padding: 0rem 2rem 2rem 2rem;
    width: 100%;
}

#TopPlaceHolder {
	width: 100%;
	padding-bottom: 3rem;
}

#Left {
    width: 20%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    margin-top: 1rem;
    padding-left: 1rem;
}

#Center {
    width: 55%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    padding: 15px;
}

#Right {
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 15px;
}

#HostImg {
	width: 35px;
	height: 35px;
}