.component {
	border: 1px solid black;
}

.whitespace {
	flex-grow: 4;
}

#mobileCenter {
    margin: 0 auto;
    padding: 1em 1em 1em 1em;
    width: 100%;
}

#dashboard {
	display: flex;
}

#TopPlaceHolder {
	width: 100%;
	padding-bottom: 3rem;
}

#Left {
    width: 300px;
    height: 100%;
	padding-left: 1em;
	flex-grow: 0;
	flex-shrink: 0;
}

#Center {
    height: 100%;
	margin-left: 40px;
	margin-right: 40px;
	flex-grow: 2;
}

#Right {
	width: 300px;
	height: 100%;
	padding-left: 25px;
	padding-right: 1.4em;
	flex-grow: 0;
	flex-shrink: 0;
}

#HostImg {
	width: 35px;
	height: 35px;
}

.bg {
	width: 100%;
	z-index: 0;
}
