.component {
	border: 1px solid black;
}

#mobileCenter {
    margin: 0 auto;
    width: 40rem;
    padding: 0rem 2rem 2rem 2rem;
    width: 100%;
}

#TopPlaceHolder {
	width: 100%;
	padding-bottom: 3rem;
}

#Left {
    width: 24%;
    position: relative;
    height: 100%;
    float: left;
    border-collapse: collapse;
    margin-top: 2em;
    padding-left: 1em;
}

#Center {
    width: 52%;
    height: 100%;
    float: left;
	border-collapse: collapse;
	margin-top: 2em;
	padding: 0px 8px 0px 8px;
}

#Right {
	width: 24%;
	height: 100%;
	position: relative;
	float: left;
	border-collapse: collapse;
	padding-left: 25px;
	margin-top: 2em;
	padding-right: 1.4em;
}

#HostImg {
	width: 35px;
	height: 35px;
}