/*
@media screen and (max-width: 1024px){
    #loading-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media screen and (min-width: 1025px){
    #loading-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 10%;
        max-height: 10%;
    }
}
*/

#loading-container {
    position: absolute;
    margin: auto;
    top: -40%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25vw;
    height: 25vh;
}

#loading-text {
    animation: loading-glow 1s infinite alternate;
	font-size: 5vw;
	color: #ce8650;
	font-weight: bold;
	text-align: center;
}

#loading-image {
    display: block;
    margin: 0 auto;
    width: 20vw;
}

@keyframes loading-glow {
    to {
        text-shadow: 0 0 1px black;
    }
}
