.wrap {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 10%;
    max-height: 10%;
}

p {
	font-size: 2em;
	color: #ce8650;
	font-weight: bold;
	text-align: center;
}

.text {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 1px black;
    }
}
