#mobile-container {
	width: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
	position: relative;
	width: 36px;
	height: 30px;
	/* padding-top: 20px; */
	/* left: 36px; */
	top: 1em;
	/* bottom: 1em; */
	z-index: 0 !important;
}

/* .bm-menu-wrap {
	height: 0%;
	padding: 0px;
	width: 0%;
} */

/* .bm-menu {
	height: 0%;
	padding: 0px;
	width: 0%;
} */

.leftPane {
	float: left;
	margin-left: 1.75em;
}

.rightPane {
	float: right;
	margin-right: 1.75em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
	top: 8px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
	background: white;
	padding: 1.5em 1em;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: black;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
