@import url('https://fonts.googleapis.com/css?family=PT+Serif');

#new-user-greeting {
	margin: 0 auto;
	padding: 2em 0em 1em 1em;
	max-width: 640px;
	font-family: 'PT Serif', serif;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

#new-user-container {
	margin: 0 auto;
	padding: 1em;
	max-width: 640px;
}

#new-user-form {
	padding: 2em 2em .5em 2em;
	background-color: #ffffff;
	border-radius: .5em;
	box-shadow: 0 2px 4px 3px rgba(0,0,0,0.13);
}