#profile-card {
	display: flex;
	padding: 15px;
	justify-content: space-between;
}

.profile#picture {
	width: 50px;
	border-radius: 25px;
}

.profile#username {
    display: inline
}

/* .card {
    margin-bottom: 15px;
    margin-right: 25px;
    position: relative;
    overflow: hidden;
    background: white;
    display: block;
    color: #0a0a0a;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
} */

.card {
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;
    background: white;
    display: block;
    color: #0a0a0a;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
}

.card>hr {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
