#recipe-summary {
	display: flex;
    flex-direction: column;
}

#recipe-summary-left {
	padding-right: 2em;
}

#recipe-summary-badges-buttons {
	display: flex;
	justify-content: space-between;
}

#recipe-summary-img {
	margin-bottom: 1em;
}

#recipe-summary-badges {
	margin-right: 15px;
}

#recipe-summary-buttons {
	margin-top: 10px;
	display: flex;
	justify-content: left;
}

#recipe-summary-buttons > .recipe-summary-action {
	margin-right: 10px;
	margin-bottom: 0px;
}

#recipe-summary-buttons > .recipe-summary-action:last-child {
	margin-right: 0px;
}

#recipe-summary-information {
	display: flex;
	justify-content: space-between;
}

#recipe-summary-card-left {
	flex-grow: 1;
	margin-right: 15px;
}

#recipe-summary-card-right {
	flex-grow: 1;
    max-width: 50%;
	display: flex;
	text-align: left;
    flex-direction: column;
}

#recipe-summary-card-right > * {
	margin-bottom: 10px;
}

#recipe-summary-card-right > *:last-child {
	margin-bottom: 0px;
}

#recipe-summary-tags,
#recipe-summary-allergies {
	font-size: 1em;
	font-weight: bold;
}

#recipe-summary-description {
	font-size: 1em;
}

.recipe-summary-badge-item {
	margin-right: .5em;
}

.recipe-summary-updated {
	color: rgb(125, 125, 125);
	font-style: italic;
	font-size: .75em;
}

#recipe-summary-name {
	margin-bottom: 0px;
}
