.topic-list > .topics-list-topic > * {
	margin-right: 10px;
}

.topic-list > .topics-list-topic > *:last-child {
	margin-right: 0px;
}

.topics-list-topic {
	display: flex;
	justify-content: space-between;
}
