#upcoming-meals-list > li {
	margin-bottom: 10px;
	padding-left: 5px;
	border-left: solid gray 3px;
}

#upcoming-meals > li:hover {
	border-left-color: #2eb1dc;
}

#upcoming-meals-list > li:last-child {
	margin-bottom: 0px;
}
