#user-review-rating-author-container {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

#user-review-author-name {
	font-weight: bold;
}

#user-review-container {
	display: flex;
	flex-direction: column;
}

#user-review-description {
	font-style: italic;
	margin: 0px;
	padding: 0px 15px;
	text-align: justify;
}

#user-review-container > * {
	margin-bottom: 0.75em;
}

#user-review-container > *:last-child {
	margin-bottom: 0em;
}
