.no-link {
	text-decoration: none;
	color: black;
}

.no-link:hover {
	text-decoration: none;
}

.no-link:focus {
	text-decoration: none;
}

.no-link:active {
	text-decoration: none;
}

.no-link:link {
	text-decoration: none;
}

#profile-header {
	max-width: 98%;
	height: 100%;
	float: left;
	border-collapse: collapse;
	margin-top: 2em;
	margin-bottom: 2em;
}

.cardSubstance {
	margin-bottom: 15px;
	padding: 15px;
}

.header-card {
    margin-left: 2em;
	margin-right: 2.1em;
	padding: 2em;
    position: relative;
    overflow: hidden;
    background: white;
    display: block;
    color: #0a0a0a;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
}

.header-card-container {
	width: 65%;
	margin: 0px;
	padding: 0px 1em 0em 1em;
}

.card {
    padding: 1em;
    margin-bottom: 1.2em;
    position: relative;
    overflow: hidden;
    background: white;
    display: block;
    color: #0a0a0a;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
}

#ProfileHeaderImg {
	max-height: 220px;
	max-height: 220px;
	border-radius: 200px;
}
